{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Get Quote Info" %}

{% block content %}
<br>
<br>
<section class="Quote">
<h1>Quote Info</h1>
<div class="cards_listItem Quote--form">
<form method="post" action="" class="form" accept-charset="UTF-8">
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="guestEntries/saveEntry">
		<input type="hidden" name="redirect" value="/quote/success">
		<input type="hidden" name="sectionId" value="3">
		<input type="hidden" name="title" value="Prospect">

<div class="Quote--input">
		<label for="firstName">First Name</label>
		<input id="firstName" type="text" name="fields[firstName]" placeholder="Enter First Name">
</div>
<div class="Quote--input">
		<label for="lastName">Last Name</label>
		<input id="lastName" type="text" name="fields[lastName]" placeholder="Enter Last Name">
</div>

<div class="Quote--input">
		<label for="email">Email</label>
		<input id="email" type="text" name="fields[email]" placeholder="">
</div>
<div class="Quote--input">
		<label for="phoneNumber">Phone</label>
		<input id="phoneNumber" type="text" name="fields[phoneNumber]" placeholder="">
</div>
<div class="Quote--input">
		<label for="zipCode">Zip Code</label>
		<input id="zipCode" type="text" name="fields[zipCode]" value="{{craft.request.getPost('zip')}}">
</div>

<div class="Quote--input">
	<input type="submit" value="Publish">
	</div>
</form>
</div>
</section>
{% endblock %}
