{% extends "_layout" %}
{% set title = "Quote Success" %}
{% block content %}
<br><br><br>
<h1>Here are the plans available to you:</h1>
{% set id = craft.request.param('entry_id') %}
{% set prospect = craft.entries.id(id).first() %}
{% set locations = craft.entries.section('locations').zipCode(prospect.zipCode) %}
{% set plans = craft.entries.section('plans').relatedTo(locations) %}

	<section class="App-listing js-partner-listing">
		<div class="App-listing__inner">
			<div class="App-listing__main js-partner-listing__main">
				{% for plan in plans %}
				{% set company = craft.entries.section('companies').relatedTo(plan).first() %}
					<div class="Partner-list__row">
						<div class="Partner-list__logo-col">
							<img class="Partner-list__logo" src="{{ company.logo.first().url }}">
						</div>
						<div class="Partner-list__desc-col">
							<header class="Partner-list__header">
								<h3 class="Partner-list__title"><a class="Partner-list__title-link" href="#">{{ company.title }}</a></h3>
								<div class="Partner-list__reviews">
									${{ plan.price }}
								</div>
							</header>
							<p class="Partner-list__desc">{{ plan.title }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
