{% set partners = craft.entries.section('partners').order('totalReviews desc') %}

{% set categories = [
  { 
    name: 'Business Skill',
    items: [
      'Application Development',
      'Business Process Analysis',
      'Integration with other Software',
      'Training',
      'Technical Support'
    ]
  },
  { 
    name: 'Technical Skill',
    items: [
      'CSS',
      'HTML',
      'Java',
      'Javascript',
      'PHP',
      'Ruby'
    ]
  },
  { 
    name: 'Location / Region',
    items: [
      'US East',
      'US Central',
      'US West',
      'Canada',
      'Central & S. America',
      'Europe, Middle East & Africa',
      'Asia Pacific'
    ]
  },
  { 
    name: 'Language Fluency',
    items: [
      'Arabic',
      'Belarussian',
      'English',
      'French',
      'German',
      'Japanese',
      'Russian',
      'Spanish',
      'Ukranian',
    ]
  }
] %}

  <section class="App-listing js-partner-listing">
    <div class="App-listing__inner">
      <div class="App-listing__filter-mobile-trigger js-partner-listing-mobile__trigger">
        <div class="App-listing__filter-icon">
          <div class="App-listing__filter-icon__line"></div>
          <div class="App-listing__filter-icon__line"></div>
          <div class="App-listing__filter-icon__line"></div>
        </div>
        <span>Show filters</span>
      </div>
      <div class="App-listing__sidebar js-partner-filter">
        {% for category in categories %}
        <div class="App-listing__sidebar__title">{{ category.name }}</div>
        <ul class="App-listing__sidebar__list">
          {% for item in category.items %}
          <li class="App-listing__sidebar__list-item js-partner-filter__item">
            <input class="App-listing__sidebar__list-checkbox js-partner-filter__checkbox checkbox-styled" type="checkbox"><label></label> {{ item }}
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
        {% include '_components/findAnAddon' %}
      </div>
      <div class="App-listing__main js-partner-listing__main">
        {% for partner in partners %}
          <div class="Partner-list__row">
            <div class="Partner-list__logo-col">
              <img class="Partner-list__logo" src="{{ partner.partnerLogoPath }}">
            </div>
            <div class="Partner-list__desc-col">
              <header class="Partner-list__header">
                <h3 class="Partner-list__title"><a class="Partner-list__title-link" href="{{ partner.url }}">{{ partner.firmName }}</a></h3>
                <div class="Partner-list__rating Rating Rating--small">
                  {% if partner.averageRating > 0 %}
                  {% for star in 1 .. 5 %}
                  <div class="Rating__item" style="background: url('{{siteUrl}}main/img/small-star.png');">
                    {% if star <= partner.averageRating|round(0,'floor') %}
                      <div class="Rating__rate" style="clip: rect(0px,1em,1em,0px); background: url('{{siteUrl}}main/img/small-star-pale.png');"></div>
                      {% elseif star == partner.averageRating|round(0, 'ceil') %}
                      {% set partial_star = partner.averageRating - partner.averageRating|round(0,'floor') %}
                      <div class="Rating__rate" style="clip: rect(0px,{{ partial_star}}em,1em,0px); background: url('{{siteUrl}}main/img/small-star-pale.png');"></div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="Partner-list__reviews">
                  ({{ partner.totalReviews }} Reviews)
                </div>
              </header>
              <p class="Partner-list__desc">{{ partner.businessDescriptionShort }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
