.Partner-list__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0, 0.05);
  }

  @media(min-width: $medium-screen) {
    margin: 0 0 30px 50px;
    flex-wrap: nowrap;
  }
}

.Partner-list__logo {
  margin-right: 30px;
  width: 100px;
}

.Partner-list__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  flex-wrap: wrap;

  @media(min-width: $medium-screen) {
    flex-wrap: nowrap;
    margin-top: 0;
  }
}

.Partner-list__title {
  flex-grow: 1;
  font-size: 28px;
  margin: 0;
  order: 2;
  width: 100%;

  @media(min-width: $medium-screen) {
    order: 0;
    width: auto;
  }
}

.Partner-list__title-link {
  color: #ECE;
}

.Partner-list__rating {
  width: auto;
  margin-right: 10px; 
}

.Partner-list__desc-col {
  flex-grow: 1;
}
