.cards {
  @include m-outer-container();
  padding: $gutter-width 0;
}

.cards__list {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;

  @media(min-width: $medium-screen) {
    flex-direction: row;
    margin-left: -$gutter-width / 2;
    margin-right: -$gutter-width / 2;
  }
}

.cards__listItem {
  display: flex;
  margin-bottom: $gutter-width;
  width: 100%;

  @media(min-width: $medium-screen) {
    flex: 1 0 33.333%;
    padding: 0 15px;
  }
}

.cards__card {
  color: $black;
  display: flex;
  flex-direction: column;
  padding: $gutter-width;
  width: 100%;
}

.cards__header {
  color: $black;
  font-size: 48px;
  font-weight: 200;
  line-height: 56px;
  margin: 0 0 15px;
  text-transform: none;
}

.cards__body {
  flex-grow: 1;
  line-height: 24px;
  margin-bottom: $gutter-width;
}

.cards__button {
  border: 1px solid $black;
  color: $black;
  display: block;
  font-family: $base-font-family;
  padding: 8px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $primary-color;
  }
}
