// Neat Breakpoints
$small-screen: 480px;
$medium-screen: 960px;
$large-screen: 1200px;

// Typography
$base-font-family: 'opensans';
$heading-font-family: 'khand';

$gutter-width: 30px;

// Colors;
$black: #000;
$white: #fff;
$orange: #fb4e3a;

// Font Colors
$base-background-color: $white;
$base-font-color: $black;

$primary-color: $orange;
