<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, minimum-scale=1.0' />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link rel='stylesheet' href='/dist/style.css' />

  <meta name='description' content='xxx' />
  <meta name='author' content='xxx' />

  <meta property='og:url' content='xxx' />
  <meta property='fb:page_id' content='xxx' />
  <meta property='og:title' content='xxx' />
  <meta property='og:description' content='xxx' />
  <meta property='og:image' content='xxx' />

  <meta itemprop='name' content='xxx' />
  <meta itemprop='description' content='xxx' />
  <meta itemprop='image' content='xxx' />

  <link rel='canonical' href='xxx' />

  <meta name='twitter:card' content='xxx' />
  <meta name='twitter:site' content='xxx' />
  <meta name='twitter:site:id' content='xxx' />
  <meta name='twitter:title' content='xxx' />
  <meta name='twitter:description' content='xxx' />
  <meta name='twitter:image' content='xxx' />

  <link rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png'>
  <link rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png'>
  <link rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png'>
  <link rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png'>
  <link rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png'>
  <link rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png'>
  <link rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png'>
  <link rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png'>
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png'>
  <link rel='icon' type='image/png' sizes='192x192'  href='/android-icon-192x192.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
  <link rel='manifest' href='/manifest.json'>
  <meta name='msapplication-TileColor' content='xxx'>
  <meta name='msapplication-TileImage' content='xxx'>
  <meta name='theme-color' content='xxx'>
</head>
<body>

<body>
  <header class="header header--fixed">
    <div class="header__container">
      <svg class="header__logo"><use xlink:href="/dist/symbol-defs.svg#logo"></use></svg>
      <div class="header__primaryNav">
        <div class="header__primaryNavList">
          <a class="header__primaryNavLink" href="#">Link 1</a>
          <a class="header__primaryNavLink" href="#">Link 2</a>
          <a class="header__primaryNavLink" href="#">Link 3</a>
        </div>
        <div class="header__hamburger">
          <div class="header__hamburgerContainer">
            <span class="header__hamburgerBar header__hamburgerBar--top"></span>
            <span class="header__hamburgerBar header__hamburgerBar--middle"></span>
            <span class="header__hamburgerBar header__hamburgerBar--bottom"></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="menu">
    <div class="menu__nav">
      <svg class="menu__logo"><use xlink:href="/dist/symbol-defs.svg#logo"></use></svg>
      <div class="menu__closeButton">
        <div class="menu__closeButtonContainer">
          <span class="menu__closeButtonBar"></span>
          <span class="menu__closeButtonBar"></span>
        </div>
      </div>
    </div>
  </div>
  <p class="center-align">Icons</p>
  <div class="center-align">
    <svg class="icon">
      <use href="/dist/symbol-defs.svg#facebook"></use>
    </svg>
  </div>
	{% block content %}

{% endblock %}
  <script defer src='/dist/svgxuse.js'></script>
  <script src='/dist/vendor.js'></script>
  <script src='/dist/bundle.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">//<![CDATA[
	$(function() {
		// IMPORTANT: Fill in your client key
		var clientKey = "js-hr98qQNGSYqlPEwXpUO7zDba5vVA1fhjHqr7hfN9edv3S10hVPpvsAFy6A88Qqrx";
		
		var cache = {};
		var container = $(".quote__listItem");
		var errorDiv = container.find("div.text-error");
		
		/** Handle successful response */
		function handleResp(data)
		{
			// Check for error
			if (data.error_msg)
				errorDiv.text(data.error_msg);
			else if ("city" in data)
			{
				// Set city and state
				container.find("input[name='fields[city]']").val(data.city);
				container.find("input[name='fields[state]']").val(data.state);
			}
		}
		
		// Set up event handlers
		container.find("input[name='fields[zipCode]']").on("keyup change", function() {
			// Get zip code
			var zipcode = $(this).val().substring(0, 5);
			if (zipcode.length == 5 && /^[0-9]+$/.test(zipcode))
			{
				// Clear error
				errorDiv.empty();
				
				// Check cache
				if (zipcode in cache)
				{
					handleResp(cache[zipcode]);
				}
				else
				{
					// Build url
					var url = "https://www.zipcodeapi.com/rest/"+clientKey+"/info.json/" + zipcode + "/radians";
					
					// Make AJAX request
					$.ajax({
						"url": url,
						"dataType": "json"
					}).done(function(data) {
						handleResp(data);
						
						// Store in cache
						cache[zipcode] = data;
					}).fail(function(data) {
						if (data.responseText && (json = $.parseJSON(data.responseText)))
						{
							// Store in cache
							cache[zipcode] = json;
							
							// Check for error
							if (json.error_msg)
								errorDiv.text(json.error_msg);
						}
						else
							errorDiv.text('Request failed.');
					});
				}
			}
		}).trigger("change");
	});
//]]></script>
</body>
</html>
