{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<div class="cards">
			<div class="cards__list">
				<div class="cards__listItem">
					<div class="cards__card">
						<h3 class="cards__header">Header</h3>
						<div class="cards__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error culpa laborum consequuntur quas incidunt quibusdam cupiditate necessitatibus dolore maxime ad iste numquam dolorem, laudantium sequi ducimus, ut suscipit aliquid praesentium.
						</div>
						<a class="cards__button" href="#">Click Here</a>
					</div>
				</div>
				<div class="cards__listItem quote__listItem">
					<div class="cards__card">
						<h3 class="cards__header">Get a Quote</h3>
						<form method="post" action="" class="form" accept-charset="UTF-8">
							{{ getCsrfInput() }}
							<input type="hidden" name="action" value="guestEntries/saveEntry">
							<input type="hidden" name="redirect" value="/quote/success?entry_id={id}">
							<input type="hidden" name="sectionId" value="3">
							<input type="hidden" name="title" value="Prospect">
							<input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">
							<div class="cards__body">
<div class="Quote--input">
		<label for="firstName">First Name</label>
		<input id="firstName" type="text" name="fields[firstName]" placeholder="Enter First Name" required>
</div>
<div class="Quote--input">
		<label for="lastName">Last Name</label>
		<input id="lastName" type="text" name="fields[lastName]" placeholder="Enter Last Name" required>
</div>

<div class="Quote--input">
		<label for="email">Email</label>
		<input id="email" type="email" name="fields[email]" placeholder="Enter Email" required>
</div>
<div class="Quote--input">
		<label for="phoneNumber">Phone</label>
		<input id="phoneNumber" type="text" name="fields[phoneNumber]" placeholder="Enter Phone">
</div>
<div class="Quote--input">
		<label for="zipCode">Zip Code</label>
		<input id="zipCode" type="text" name="fields[zipCode]" value="" placeholder="Enter Zip Code">
</div>
								<input type="hidden" name="fields[city]" value="">
								<input type="hidden" name="fields[state]" value="">
							</div>
							<input type="submit" value="Get a Quote" class="cards__button">
							<div class="text-error"></div>
					</div>
				</div>
				<div class="cards__listItem">
					<div class="cards__card">
						<h3 class="cards__header">Header</h3>
						<div class="cards__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error culpa laborum consequuntur quas incidunt quibusdam cupiditate necessitatibus dolore maxime ad iste numquam dolorem, laudantium sequi ducimus, ut suscipit aliquid praesentium.
						</div>
						<a class="cards__button" href="#">Click Here</a>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
